html, body {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}
body{
  background: #211e32; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(60% 60%, closest-corner, 60#2e436e, #211e32 90%); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(closest-corner 60% 60%, closest-corner, #2e436e, #211e32 90%); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(closest-corner 60% 60%, closest-corner, #2e436e, #211e32 90%); /* For Firefox 3.6 to 15 */
  background: radial-gradient(ellipse closest-corner at 60% 60%, #2e436e, #211e32 90%); /* Standard syntax */
  text-align: center;
  font-family: "DIN", "DINPro","Microsoft YaHei","微软雅黑","黑体",sans-serif;
  color: white;
  margin: 0;
}

h2{
  padding-top: 10%;
  font-size: 2.3em;
  font-weight: normal;
}

h5{
  margin: 0;
  display: inline-block;
  padding-top: 4%;
  padding-bottom: 0.7%;
  width: inherit;
  font-size: 2.2em;
  font-weight: normal;
  opacity: 0.7;
  border-bottom: 4px solid;

}
table.main{
  padding-top: 6%;
  display: inline-block;
}
table.sub{
  width: 100%;
}
td.text{
  width:30%;
}

td.desc{
  font-size: 1.5em;
  font-weight: lighter;
  color: rgba(255, 255, 255, .6);
}
td.number{
  font-size: 2.5em;
}
td.left-align{
  text-align: left;
}
td.right-align{
  text-align: right;
}
td.img{
  padding-left: 1%;
  padding-right: 1%;
  width: 20%;
}

img.a-result{
  margin: 0;
  padding: 0;
  width:100%;
  display: inline-block;
  text-align: center;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeInTitle {
  to {
    opacity: 0.6;
    transform: translateY(0px);
  }
}

.fadeUpInDo.result{
  -ms-transform: translateY(10px); /* IE 9 */
  -webkit-transform: translateY(10px); /* Safari */
  transform: translateY(10px);
  animation: fadeInTitle .5s ease-in 0s 1 forwards;
}
.fadeUpInDo.desc{
  -ms-transform: translateY(10px); /* IE 9 */
  -webkit-transform: translateY(10px); /* Safari */
  transform: translateY(10px);
  animation: fadeIn .5s ease-in 0.5s 1 forwards;

}
.fadeUpInDo.number {
  animation: fadeIn .5s ease-in 1.3s 1 forwards;
}

.fadeUpInDo.img0{
  animation: popIn .5s linear 1.8s 1 forwards;
}
.fadeUpInDo.img1{
  animation: popIn .5s linear 2.0s 1 forwards;
}

.fadeUpIn{
  opacity: 0;
}

@keyframes popIn {
  0% {
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
  }
  1% {
    -ms-transform: scale(0.696744703416366);
    -webkit-transform: scale(0.696744703416366);
    transform: scale(0.696744703416366);
    opacity: 0.01;
  }
  2% {
    -ms-transform: scale(0.704114287670833);
    -webkit-transform: scale(0.704114287670833);
    transform: scale(0.704114287670833);
    opacity: 0.02;
  }
  3% {
    -ms-transform: scale(0.720658040975735);
    -webkit-transform: scale(0.720658040975735);
    transform: scale(0.720658040975735);
    opacity: 0.03;
  }
  4% {
    -ms-transform: scale(0.744779005912411);
    -webkit-transform: scale(0.744779005912411);
    transform: scale(0.744779005912411);
    opacity: 0.04;
  }
  5% {
    -ms-transform: scale(0.774804530269221);
    -webkit-transform: scale(0.774804530269221);
    transform: scale(0.774804530269221);
    opacity: 0.05;
  }
  6% {
    -ms-transform: scale(0.809051398969661);
    -webkit-transform: scale(0.809051398969661);
    transform: scale(0.809051398969661);
    opacity: 0.06;
  }
  7% {
    -ms-transform: scale(0.845883958697763);
    -webkit-transform: scale(0.845883958697763);
    transform: scale(0.845883958697763);
    opacity: 0.07;
  }
  8% {
    -ms-transform: scale(0.883764061050944);
    -webkit-transform: scale(0.883764061050944);
    transform: scale(0.883764061050944);
    opacity: 0.08;
  }
  9% {
    -ms-transform: scale(0.921292060722051);
    -webkit-transform: scale(0.921292060722051);
    transform: scale(0.921292060722051);
    opacity: 0.09;
  }
  10% {
    -ms-transform: scale(0.957238492034789);
    -webkit-transform: scale(0.957238492034789);
    transform: scale(0.957238492034789);
    opacity: 0.1;
  }
  11% {
    -ms-transform: scale(0.990566409206574);
    -webkit-transform: scale(0.990566409206574);
    transform: scale(0.990566409206574);
    opacity: 0.11;
  }
  12% {
    -ms-transform: scale(1.020444687505288);
    -webkit-transform: scale(1.020444687505288);
    transform: scale(1.020444687505288);
    opacity: 0.12;
  }
  13% {
    -ms-transform: scale(1.046252860228643);
    -webkit-transform: scale(1.046252860228643);
    transform: scale(1.046252860228643);
    opacity: 0.13;
  }
  14% {
    -ms-transform: scale(1.067578282550388);
    -webkit-transform: scale(1.067578282550388);
    transform: scale(1.067578282550388);
    opacity: 0.14;
  }
  15% {
    -ms-transform: scale(1.084206588065028);
    -webkit-transform: scale(1.084206588065028);
    transform: scale(1.084206588065028);
    opacity: 0.15;
  }
  16% {
    -ms-transform: scale(1.096106517636042);
    -webkit-transform: scale(1.096106517636042);
    transform: scale(1.096106517636042);
    opacity: 0.16;
  }
  17% {
    -ms-transform: scale(1.103410271606462);
    -webkit-transform: scale(1.103410271606462);
    transform: scale(1.103410271606462);
    opacity: 0.17;
  }
  18% {
    -ms-transform: scale(1.106390553592805);
    -webkit-transform: scale(1.106390553592805);
    transform: scale(1.106390553592805);
    opacity: 0.18;
  }
  19% {
    -ms-transform: scale(1.105435459937215);
    -webkit-transform: scale(1.105435459937215);
    transform: scale(1.105435459937215);
    opacity: 0.19;
  }
  20% {
    -ms-transform: scale(1.10102230427097);
    -webkit-transform: scale(1.10102230427097);
    transform: scale(1.10102230427097);
    opacity: 0.2;
  }
  21% {
    -ms-transform: scale(1.093691385421084);
    -webkit-transform: scale(1.093691385421084);
    transform: scale(1.093691385421084);
    opacity: 0.21;
  }
  22% {
    -ms-transform: scale(1.084020590502371);
    -webkit-transform: scale(1.084020590502371);
    transform: scale(1.084020590502371);
    opacity: 0.22;
  }
  23% {
    -ms-transform: scale(1.072601599517612);
    -webkit-transform: scale(1.072601599517612);
    transform: scale(1.072601599517612);
    opacity: 0.23;
  }
  24% {
    -ms-transform: scale(1.060018313473254);
    -webkit-transform: scale(1.060018313473254);
    transform: scale(1.060018313473254);
    opacity: 0.24;
  }
  25% {
    -ms-transform: scale(1.046827985132167);
    -webkit-transform: scale(1.046827985132167);
    transform: scale(1.046827985132167);
    opacity: 0.25;
  }
  26% {
    -ms-transform: scale(1.033545385115209);
    -webkit-transform: scale(1.033545385115209);
    transform: scale(1.033545385115209);
    opacity: 0.26;
  }
  27% {
    -ms-transform: scale(1.020630194596973);
    -webkit-transform: scale(1.020630194596973);
    transform: scale(1.020630194596973);
    opacity: 0.27;
  }
  28% {
    -ms-transform: scale(1.008477687931735);
    -webkit-transform: scale(1.008477687931735);
    transform: scale(1.008477687931735);
    opacity: 0.28;
  }
  29% {
    -ms-transform: scale(0.997412646094936);
    -webkit-transform: scale(0.997412646094936);
    transform: scale(0.997412646094936);
    opacity: 0.29;
  }
  30% {
    -ms-transform: scale(0.987686343669983);
    -webkit-transform: scale(0.987686343669983);
    transform: scale(0.987686343669983);
    opacity: 0.3;
  }
  31% {
    -ms-transform: scale(0.97947636203995);
    -webkit-transform: scale(0.97947636203995);
    transform: scale(0.97947636203995);
    opacity: 0.31;
  }
  32% {
    -ms-transform: scale(0.972888916358317);
    -webkit-transform: scale(0.972888916358317);
    transform: scale(0.972888916358317);
    opacity: 0.32;
  }
  33% {
    -ms-transform: scale(0.967963333282798);
    -webkit-transform: scale(0.967963333282798);
    transform: scale(0.967963333282798);
    opacity: 0.33;
  }
  34% {
    -ms-transform: scale(0.964678284492151);
    -webkit-transform: scale(0.964678284492151);
    transform: scale(0.964678284492151);
    opacity: 0.34;
  }
  35% {
    -ms-transform: scale(0.962959366959936);
    -webkit-transform: scale(0.962959366959936);
    transform: scale(0.962959366959936);
    opacity: 0.35;
  }
  36% {
    -ms-transform: scale(0.962687620877991);
    -webkit-transform: scale(0.962687620877991);
    transform: scale(0.962687620877991);
    opacity: 0.36;
  }
  37% {
    -ms-transform: scale(0.963708592001851);
    -webkit-transform: scale(0.963708592001851);
    transform: scale(0.963708592001851);
    opacity: 0.37;
  }
  38% {
    -ms-transform: scale(0.965841568970053);
    -webkit-transform: scale(0.965841568970053);
    transform: scale(0.965841568970053);
    opacity: 0.38;
  }
  39% {
    -ms-transform: scale(0.96888866463917);
    -webkit-transform: scale(0.96888866463917);
    transform: scale(0.96888866463917);
    opacity: 0.39;
  }
  40% {
    -ms-transform: scale(0.972643451351174);
    -webkit-transform: scale(0.972643451351174);
    transform: scale(0.972643451351174);
    opacity: 0.4;
  }
  41% {
    -ms-transform: scale(0.976898908478466);
    -webkit-transform: scale(0.976898908478466);
    transform: scale(0.976898908478466);
    opacity: 0.41;
  }
  42% {
    -ms-transform: scale(0.981454491335846);
    -webkit-transform: scale(0.981454491335846);
    transform: scale(0.981454491335846);
    opacity: 0.42;
  }
  43% {
    -ms-transform: scale(0.986122181864263);
    -webkit-transform: scale(0.986122181864263);
    transform: scale(0.986122181864263);
    opacity: 0.43;
  }
  44% {
    -ms-transform: scale(0.990731431217941);
    -webkit-transform: scale(0.990731431217941);
    transform: scale(0.990731431217941);
    opacity: 0.44;
  }
  45% {
    -ms-transform: scale(0.995132952776565);
    -webkit-transform: scale(0.995132952776565);
    transform: scale(0.995132952776565);
    opacity: 0.45;
  }
  46% {
    -ms-transform: scale(0.99920136694919);
    -webkit-transform: scale(0.99920136694919);
    transform: scale(0.99920136694919);
    opacity: 0.46;
  }
  47% {
    -ms-transform: scale(1.002836738459168);
    -webkit-transform: scale(1.002836738459168);
    transform: scale(1.002836738459168);
    opacity: 0.47;
  }
  48% {
    -ms-transform: scale(1.005965079174793);
    -webkit-transform: scale(1.005965079174793);
    transform: scale(1.005965079174793);
    opacity: 0.48;
  }
  49% {
    -ms-transform: scale(1.00853791635699);
    -webkit-transform: scale(1.00853791635699);
    transform: scale(1.00853791635699);
    opacity: 0.49;
  }
  50% {
    -ms-transform: scale(1.010531046966805);
    -webkit-transform: scale(1.010531046966805);
    transform: scale(1.010531046966805);
    opacity: 0.5;
  }
  51% {
    -ms-transform: scale(1.011942611768977);
    -webkit-transform: scale(1.011942611768977);
    transform: scale(1.011942611768977);
    opacity: 0.51;
  }
  52% {
    -ms-transform: scale(1.012790631647051);
    -webkit-transform: scale(1.012790631647051);
    transform: scale(1.012790631647051);
    opacity: 0.52;
  }
  53% {
    -ms-transform: scale(1.013110150065026);
    -webkit-transform: scale(1.013110150065026);
    transform: scale(1.013110150065026);
    opacity: 0.53;
  }
  54% {
    -ms-transform: scale(1.012950122840307);
    -webkit-transform: scale(1.012950122840307);
    transform: scale(1.012950122840307);
    opacity: 0.54;
  }
  55% {
    -ms-transform: scale(1.012370189248658);
    -webkit-transform: scale(1.012370189248658);
    transform: scale(1.012370189248658);
    opacity: 0.55;
  }
  56% {
    -ms-transform: scale(1.011437446723623);
    -webkit-transform: scale(1.011437446723623);
    transform: scale(1.011437446723623);
    opacity: 0.56;
  }
  57% {
    -ms-transform: scale(1.010223338182329);
    -webkit-transform: scale(1.010223338182329);
    transform: scale(1.010223338182329);
    opacity: 0.57;
  }
  58% {
    -ms-transform: scale(1.008800744220367);
    -webkit-transform: scale(1.008800744220367);
    transform: scale(1.008800744220367);
    opacity: 0.58;
  }
  59% {
    -ms-transform: scale(1.007241355567115);
    -webkit-transform: scale(1.007241355567115);
    transform: scale(1.007241355567115);
    opacity: 0.59;
  }
  60% {
    -ms-transform: scale(1.005613382910548);
    -webkit-transform: scale(1.005613382910548);
    transform: scale(1.005613382910548);
    opacity: 0.6;
  }
  61% {
    -ms-transform: scale(1.003979643397974);
    -webkit-transform: scale(1.003979643397974);
    transform: scale(1.003979643397974);
    opacity: 0.61;
  }
  62% {
    -ms-transform: scale(1.002396045862012);
    -webkit-transform: scale(1.002396045862012);
    transform: scale(1.002396045862012);
    opacity: 0.62;
  }
  63% {
    -ms-transform: scale(1.000910481085338);
    -webkit-transform: scale(1.000910481085338);
    transform: scale(1.000910481085338);
    opacity: 0.63;
  }
  64% {
    -ms-transform: scale(0.999562108713158);
    -webkit-transform: scale(0.999562108713158);
    transform: scale(0.999562108713158);
    opacity: 0.64;
  }
  65% {
    -ms-transform: scale(0.998381020063435);
    -webkit-transform: scale(0.998381020063435);
    transform: scale(0.998381020063435);
    opacity: 0.65;
  }
  66% {
    -ms-transform: scale(0.997388245852924);
    -webkit-transform: scale(0.997388245852924);
    transform: scale(0.997388245852924);
    opacity: 0.66;
  }
  67% {
    -ms-transform: scale(0.996596069417604);
    -webkit-transform: scale(0.996596069417604);
    transform: scale(0.996596069417604);
    opacity: 0.67;
  }
  68% {
    -ms-transform: scale(0.996008600451851);
    -webkit-transform: scale(0.996008600451851);
    transform: scale(0.996008600451851);
    opacity: 0.68;
  }
  69% {
    -ms-transform: scale(0.995622560254697);
    -webkit-transform: scale(0.995622560254697);
    transform: scale(0.995622560254697);
    opacity: 0.69;
  }
  70% {
    -ms-transform: scale(0.99542822810306);
    -webkit-transform: scale(0.99542822810306);
    transform: scale(0.99542822810306);
    opacity: 0.7;
  }
  71% {
    -ms-transform: scale(0.995410498509068);
    -webkit-transform: scale(0.995410498509068);
    transform: scale(0.995410498509068);
    opacity: 0.71;
  }
  72% {
    -ms-transform: scale(0.995550000985272);
    -webkit-transform: scale(0.995550000985272);
    transform: scale(0.995550000985272);
    opacity: 0.72;
  }
  73% {
    -ms-transform: scale(0.995824237531238);
    -webkit-transform: scale(0.995824237531238);
    transform: scale(0.995824237531238);
    opacity: 0.73;
  }
  74% {
    -ms-transform: scale(0.996208697193285);
    -webkit-transform: scale(0.996208697193285);
    transform: scale(0.996208697193285);
    opacity: 0.74;
  }
  75% {
    -ms-transform: scale(0.996677912705971);
    -webkit-transform: scale(0.996677912705971);
    transform: scale(0.996677912705971);
    opacity: 0.75;
  }
  76% {
    -ms-transform: scale(0.997206430003905);
    -webkit-transform: scale(0.997206430003905);
    transform: scale(0.997206430003905);
    opacity: 0.76;
  }
  77% {
    -ms-transform: scale(0.997769667628578);
    -webkit-transform: scale(0.997769667628578);
    transform: scale(0.997769667628578);
    opacity: 0.77;
  }
  78% {
    -ms-transform: scale(0.998344649470491);
    -webkit-transform: scale(0.998344649470491);
    transform: scale(0.998344649470491);
    opacity: 0.78;
  }
  79% {
    -ms-transform: scale(0.998910600318818);
    -webkit-transform: scale(0.998910600318818);
    transform: scale(0.998910600318818);
    opacity: 0.79;
  }
  80% {
    -ms-transform: scale(0.999449399671815);
    -webkit-transform: scale(0.999449399671815);
    transform: scale(0.999449399671815);
    opacity: 0.8;
  }
  81% {
    -ms-transform: scale(0.999945894406574);
    -webkit-transform: scale(0.999945894406574);
    transform: scale(0.999945894406574);
    opacity: 0.81;
  }
  82% {
    -ms-transform: scale(1.00038807573898);
    -webkit-transform: scale(1.00038807573898);
    transform: scale(1.00038807573898);
    opacity: 0.82;
  }
  83% {
    -ms-transform: scale(1.000767129842809);
    -webkit-transform: scale(1.000767129842809);
    transform: scale(1.000767129842809);
    opacity: 0.83;
  }
  84% {
    -ms-transform: scale(1.00107737464789);
    -webkit-transform: scale(1.00107737464789);
    transform: scale(1.00107737464789);
    opacity: 0.84;
  }
  85% {
    -ms-transform: scale(1.001316097905132);
    -webkit-transform: scale(1.001316097905132);
    transform: scale(1.001316097905132);
    opacity: 0.85;
  }
  86% {
    -ms-transform: scale(1.001483313078271);
    -webkit-transform: scale(1.001483313078271);
    transform: scale(1.001483313078271);
    opacity: 0.86;
  }
  87% {
    -ms-transform: scale(1.001581450672748);
    -webkit-transform: scale(1.001581450672748);
    transform: scale(1.001581450672748);
    opacity: 0.87;
  }
  88% {
    -ms-transform: scale(1.001615002711484);
    -webkit-transform: scale(1.001615002711484);
    transform: scale(1.001615002711484);
    opacity: 0.88;
  }
  89% {
    -ms-transform: scale(1.001590137693546);
    -webkit-transform: scale(1.001590137693546);
    transform: scale(1.001590137693546);
    opacity: 0.89;
  }
  90% {
    -ms-transform: scale(1.001514302378757);
    -webkit-transform: scale(1.001514302378757);
    transform: scale(1.001514302378757);
    opacity: 0.9;
  }
  91% {
    -ms-transform: scale(1.001395825384915);
    -webkit-transform: scale(1.001395825384915);
    transform: scale(1.001395825384915);
    opacity: 0.91;
  }
  92% {
    -ms-transform: scale(1.001243535765984);
    -webkit-transform: scale(1.001243535765984);
    transform: scale(1.001243535765984);
    opacity: 0.92;
  }
  93% {
    -ms-transform: scale(1.001066407814033);
    -webkit-transform: scale(1.001066407814033);
    transform: scale(1.001066407814033);
    opacity: 0.93;
  }
  94% {
    -ms-transform: scale(1.000873241099136);
    -webkit-transform: scale(1.000873241099136);
    transform: scale(1.000873241099136);
    opacity: 0.94;
  }
  95% {
    -ms-transform: scale(1.000672382608064);
    -webkit-transform: scale(1.000672382608064);
    transform: scale(1.000672382608064);
    opacity: 0.95;
  }
  96% {
    -ms-transform: scale(1.000471495606708);
    -webkit-transform: scale(1.000471495606708);
    transform: scale(1.000471495606708);
    opacity: 0.96;
  }
  97% {
    -ms-transform: scale(1.000277377767553);
    -webkit-transform: scale(1.000277377767553);
    transform: scale(1.000277377767553);
    opacity: 0.97;
  }
  98% {
    -ms-transform: scale(1.000095829137067);
    -webkit-transform: scale(1.000095829137067);
    transform: scale(1.000095829137067);
    opacity: 0.98;
  }
  99% {
    -ms-transform: scale(0.999931568777413);
    -webkit-transform: scale(0.999931568777413);
    transform: scale(0.999931568777413);
    opacity: 0.99;
  }
  100% {
    -ms-transform: scale(0.999788197392983);
    -webkit-transform: scale(0.999788197392983);
    transform: scale(0.999788197392983);
    opacity: 1;
  }
}
